<h1>New Blog</h1>

<h2>Welcome back <%= current_user.Email %></h2>

<%= form_for(blog, {action: blogsPath()}) { %>
  <%= f.InputTag("Title") %>
  <%= f.TextArea("Body", {id: "editor", rows: 20, class: "body-input"}) %>
  <%= f.InputTag("Tags") %>
  <%= f.SubmitTag("Create") %>
<% } %>

<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>

<script>
  ClassicEditor
    .create( document.querySelector( '#editor' ))
    .then( editor => {
      console.log( "editor is ready" );
    } )
    .catch( error => {
      console.error( error );
    } );
</script>